<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=foundPlanet.name%>的頁面</title>
  </head>
  <style>
    table,
    tr,
    td {
      border: 3px solid rgba(8, 123, 195, 0.973);
      border-collapse: collapse;
      padding: 5px;
      margin-top: 20px;
    }

    a.create {
      text-decoration: none;
      font-weight: bold;
      color: darkgreen;
      background-color: bisque;
      border: 2px solid white;
      border-radius: 10px;
      padding: 5px;
    }
    a.delete:hover {
      transition: all ease 0.5s;
      background-color: red;
    }
  </style>
  <body>
    <table>
      <tr>
        <td>名稱</td>
        <td><%=foundPlanet.name%></td>
      </tr>
      <tr>
        <td>品種</td>
        <td><%=foundPlanet.detail_name%></td>
      </tr>
      <tr>
        <td>來自</td>
        <td><%=foundPlanet.where%></td>
      </tr>
      <tr>
        <td>大小</td>
        <td><%=foundPlanet.size%> CM</td>
      </tr>
      <tr>
        <td>土壤比例</td>
        <td><%=foundPlanet.soil%></td>
      </tr>
      <tr>
        <td>施肥</td>
        <td><%=foundPlanet.advanced.fertilizer%></td>
      </tr>
      <tr>
        <td>澆水</td>
        <td><%=foundPlanet.advanced.water%></td>
      </tr>
    </table>
    <br />
    <a href="/planets" class="create">返回首頁</a>&nbsp&nbsp&nbsp
    <a href="/planets/<%= foundPlanet._id%>/edit" class="create">更新植物資訊</a
    >&nbsp&nbsp&nbsp
    <a href="/planets/<%= foundPlanet._id%>/delete" class="create delete"
      >刪除植物</a
    >
  </body>
</html>
